body{
    background-image: url(media/images/pexels-eberhardgross-1612352.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} 
h1{
    font-size: larger; font-weight: bold;
}


/* display: change the behavior of block or inline element (block, inline, inline-block, none) 
or visibility: hidden */

/* positions*/

/* pseudo classes*/

/* pseudo elements*/

/* combinators are a sort of inheritance
 _(space) decendant
 > child
 ~ general sibling
 + adjacent sibling
*/


.pagination{
    text-align: center;
}

.pagination a{
    color: rgb(255, 251, 251);
    text-decoration: none;
    padding: 8px 15px;
    display:inline-block;
}

.pagination a.active{
    background-color: aqua;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: beige;
    border-radius: 5px;
}