body{
    background-color: bisque;
}
h1{
    color: rebeccapurple; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: black; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 0.9em;
}
#p1{ 
    color: green; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: medium; 
    font-style: italic;
}
.odd{
    color: rgb(234, 21, 21);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight:bold;
}

