<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website & Layout</title>
    <link rel="stylesheet" href="website_style.css">
    <link rel="icon" type="image/ico" href="media\images\favicon.ico">
</head>
<body> <!---the following are what's called semantic tags-->
    <main>
        <header> 
            <h1>This is my website</h1>
        </header>
        <nav class="navigation"> 
            <div class="nav_block"> 
                <div class="nav_content"><a href="../excercises and concepts/lyrics.html" target="_blank">Home </a></div>
                <div class="nav_content"><a href="" target="_blank">About </a></div>
                <div class="nav_content"><a href="" target="_blank">Products </a></div>
                <div class="nav_content"><a href="" target="_blank">FAQ </a></div>
            </div>
        </nav>
        
        <aside>
            <h4>this is the aside </h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consectetur exercitationem, consequatur explicabo temporibus nulla fugit quos vel laborum qui eveniet error dolorem est facilis placeat laudantium quae quod blanditiis?
        </aside>

        <section>
            <h4> this is the section</h4> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consectetur exercitationem, consequatur explicabo temporibus nulla fugit quos vel laborum qui eveniet error dolorem est facilis placeat laudantium quae quod blanditiis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consectetur exercitationem, consequatur explicabo temporibus nulla fugit quos vel laborum qui eveniet error dolorem est facilis placeat laudantium quae quod blanditiis?

        </section>
        
        <article>
            <div>
            <h4>this is the article</h4>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consectetur exercitationem, consequatur explicabo temporibus nulla fugit quos vel laborum qui eveniet error dolorem est facilis placeat laudantium quae quod blanditiis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consectetur exercitationem, consequatur explicabo temporibus nulla fugit quos vel laborum qui eveniet error dolorem est facilis placeat laudantium quae quod blanditiis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consectetur exercitationem, consequatur explicabo temporibus nulla fugit quos vel laborum qui eveniet error dolorem est facilis placeat laudantium quae quod blanditiis?
            </div>
        </article>
        <footer>
            <div>This is the footer</div>
        </footer>
    </main>
</body>
</html>