<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website & Layout</title>
    <link rel="stylesheet" href="website_style.css">
    <link rel="icon" type="image/ico" href="media\images\favicon.ico">
</head>
<body> <!---the following are what's called semantic tags-->
    <main>
        <header> 
            <h1>This is my website</h1>
        </header>
        <nav class="navigation"> 
            <div class="nav_block"> 
                <div class="nav_content"><a href="../excercises and concepts/lyrics.html" target="_blank">Home </a></div>
                <div class="nav_content"><a href="" target="_blank">About </a></div>
                <div class="nav_content"><a href="" target="_blank">Products </a></div>
                <div class="nav_content"><a href="" target="_blank">FAQ </a></div>
            </div>
        </nav>
        
        <aside>
            this is the aside 
        </aside>

        <section>
            this is the section
        </section>
        
        <article>
            this is the article
        </article>
        <footer>
            here is the footer
        </footer>
    </main>
</body>
</html>